.backimg {
  background-image: url("/images/bg_1.jpg");
  height: 100%;
}

.dest1 {
  background-image: url("/images/destination-1.jpg");
}

.dest2 {
  background-image: url("/images/destination-2.jpg");
}

.dest3 {
  background-image: url("/images/destination-3.jpg");
}

.dest4 {
  background-image: url("/images/destination-4.jpg");
}

.dest5 {
  background-image: url("/images/destination-5.jpg");
}

.dest6 {
  background-image: url("/images/destination-6.jpg");
}

.notice_container {
  padding: 60px 0;
}

.board {
  max-width: 1200px;
  margin: 0 auto;
}

.destinat {
  padding-right: 15px;
}

.tip_img1 {
  background-image: url("/images/tip_img01.jpg");
}

.tip_img2 {
  background-image: url("/images/tip_img02.jpg");
}

.foot_p1 {
  border-top: 1px solid #313131; 
  padding-top: 30px;
}

.foot_p2 {
  color:#757575;
}
