.option_style {
  margin-right: 5px;
}

.ses_wrp {
  max-width:100%;
}

.ses2_3_b {
  background-color: #b6b6b6;
}

.loce {
  width: 100%;
}

.loce_txt {
  margin-bottom: 15px;
  text-align: left;
}

.ses3_rv_wrp {
  width:100%; 
  display:inline-block;
}

.ses3_rv_txt_str {
  color:#F07888;
}

.ses3_id_wrp {
  width:100%; 
  display:block;
}

.ses3_cont {
  width:100%;
  display:block;
  float: left;
}

.dets_1 {
  background-image: url("/images/destination-1.jpg");
  height:200px;
}

.dets_2 {
  background-image: url("/images/destination-2.jpg");
  height:200px;
}

.dets_3 {
  background-image: url("/images/destination-3.jpg");
  height:200px;
}

.dets_4 {
  background-image: url("/images/destination-4.jpg");
  height:200px;
}

.dets_5 {
  background-image: url("/images/destination-5.jpg");
  height:200px;
}

.dets_6 {
  background-image: url("/images/destination-6.jpg");
  height:200px;
}