.hr_wrap {
  background-image: url('/images/sub02_bg.jpg'); 
  height: 500px;
}

.m3_bread {
  padding-top: 246px;
}

.qt {
  margin-top: -5px;
}

.text_ip {
  margin-top: 10px;
}

.btn {
  vertical-align: -webkit-baseline-middle;
}

.zipcd {
  cursor:pointer;
}

.adr {
  margin-top: 10px;
}

.file_input label {
  color: #fff;
  cursor: pointer;
  background-color: #5e5e5e;
  overflow: hidden;
  margin-right: 1%;
  font-size: 14px;
  line-height: 12px;
  vertical-align: middle;
  border: 1px solid #5e5e5e;
  padding: 1%;
  width: auto;
  height: auto;
}

.file_input {
  text-align: left;
  background: #fff;
  padding-top: 1%!important;
  padding-bottom: 1%!important;
  color: #5c5c5c;
  font-size: 15px;
  line-height: 26px;
  padding-left: 3%;
}

.file_input label input {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

/* .file_input input[type=text] {
  vertical-align: middle;
  display: inline-block;
  width: 400px;
  height: 28px;
  line-height: 28px;
  font-size: 11px;
  padding: 0;
  border: 0;
  border: 1px solid #777;
} */